.add-button {
  position: absolute;
  right: 2rem;
  top: 5rem;
}
.mat-row:hover {
  cursor: pointer;
  background: #F4F4F4F4;
}

.mat-column-id {
  max-width: 3.75rem;
}

.mat-column-actions {
  max-width: 3.75rem;
}


